
input[type="file"] {
    display: none;
}

.custom-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 50px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-upload:hover {
    color: #3e79f7;
    border: 1px solid #3e79f7;
}

.box {
    cursor: move;
    position: absolute;
}

.room {
    display: block;
    position: relative;
    width: 49%;
    height: 550px;
    background-color:aquamarine;
    float: right;
    overflow: hidden;
    border-radius: 13px;
}

.elements {
    display: block;
    position: relative;
    width: 49%;
    height: 550px;
    float: left;
}

h3 {
    text-align: center;
}

.item {
    float: left;
    text-align: center;
    margin-right: 15px;
}

.add {
    margin-top: 10px;
}

.remove {
    position: absolute;
    font-weight: 900;
    z-index: 999;
    cursor: pointer;
    color: green;
}

.import-export {
    display: block;
    margin: 30px 0px 30px 0px;
    text-align: center;
}